---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error page">
    <div class="w-full pb-9 flex flex-col items-center justify-center">
        <div class="flex flex-col items-center justify-center">
            <img src="https://www.towson.edu/_resources/images/doc.png" class="object-scale-down h-3/5" />
            <p class="text-3xl md:text-4xl lg:text-5xl text-gray-800 mt-12">
                Page Not Found
            </p>
            <p class="md:text-lg lg:text-xl text-gray-600 mt-8">
                Sorry, the page you are looking for could not be found.
            </p>
            <a
                href="/"
                class="flex items-center space-x-2 bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 mt-12 rounded transition duration-150"
                title="Return Home"
            >
                <span>Return Home</span>
            </a>
        </div>
    </div>
</Layout>
