---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { supabase } from "../supabase";

let { data: Building} = await supabase
	.from("Building")
	.select(`BUILDING_NAME, BUILDING_CODE`)
	.eq('BUILDING_CODE', 'YR');

---

<Layout title="Classroom Tours">
	<h1 class="text-lg">Buildings</h1>
	<div class="grid grid-cols-2 md:grid-cols-3 gap4">
		{
			Building?.map((b) => (
				<Card
					title={b.BUILDING_NAME}
					href=`/buildings/${b.BUILDING_CODE}`
					building={b.BUILDING_CODE}
				/>
			))
		}
	</div>
</Layout>

</style>
