---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Classroom Tours">	
	<h1>
		Buildings
	</h1>
	<body>
	<ul role="list" class="image-grid">

			<a href="/buildings/Liberal Arts"><img src ="Liberal_Arts.png" alt="LA Building Pic"/></a>

					  <img src= "yr0201-2.png" style="width:200px;height:200px;"/>

			<img src ="Liberal_Arts.png" alt="LA Building Pic"/>

			<img src ="CFTAB.png" alt="CTFA Building Pic"/>
		</ul>
		</body>
	</main>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-family:serif;
		font-size: 4rem;
		font-weight: 500;
		line-height: 1;
		text-align: left;
		margin-left: 2em;
		margin-bottom:1em;
	}
	
	.image-grid {
		margin:5rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding-left: 3rem;
	}
  
	.column {
        float: left;
        width: 33.33%;
        padding: 4px;
		margin-top: 2em;
	}

	.row {
     display: flex;

     }

	p{
     font-size: 20px;
	 padding-left: 20px;
	}

</style>

