---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { supabase } from "../supabase";

let { data: Building } = await supabase
	.from("Building")
	.select(`BUILDING_NAME, BUILDING_CODE`)
	.in("BUILDING_CODE", ["HH", "YR", "SC"]);
---

<Layout title="Classroom Tours">
	<div class="container my-12 mx-auto px-4 md:px-12">
		<h1 class="text-4xl">Buildings</h1>
		<div class="flex flex-wrap -mx-1 lg:-mx-4">
			{
				Building?.map((b) => (
					<Card title={b.BUILDING_NAME} building={b.BUILDING_CODE} />
				))
			}
		</div>
	</div>
</Layout>
