---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
export const getStaticPaths = (() => {
    return [{params: {room: "yr0201"}}];
}) satisfies GetStaticPaths;
const {room} = Astro.params
---

<Layout title={room}>
	<h1> 
		{room}
		
	</h1>
</Layout>

