<!-- Footer container -->
<footer
    class="bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left flex flex-col"
>
    <div class="mx-6 py-10 text-center md:text-left">
        <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-2">
            <div class="mb-6 md:mb-0">
                <p>
                    Equipment in rooms are equipped with audible alarms,
                    monitored by the Towson University Police Department. If the
                    alarm sounds during class, please call TUPD at 410-704-2134
                    and explain an equipment alarm is going off.
                </p>
            </div>
            <div class="">
                <h6
                    class="mb-4 flex justify-center font-semibold uppercase md:justify-start"
                >
                    About CCLT
                </h6>
                <p class="mb-4">
                    <a href="#!" class="text-neutral-600 dark:text-neutral-200"
                        >Support Hours</a
                    >
                </p>
                <p class="mb-4">
                    <a href="#!" class="text-neutral-600 dark:text-neutral-200"
                        >On-Site Classroom Services</a
                    >
                </p>
            </div>
            <!-- Useful links section -->
        </div>
    </div>
</footer>
