---

---

<nav class="bg-white mb-5 mt-0">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <div class="container m-auto grid-cols-2 place content-center">
            <a class="col1 flex justify-start place-content start ps-8">
                <img src= " logo.png" alt="TU Logo" width="250" height="125">
            </a>
            <a class="col2 flex justify-end pe-9"><input type="text" placeholder="Search..."/>
                <button type="submit"><i class="fa fa-search"></i></button></a>
        </div>
    </div> 

    <ul class="flex p-4 mt-4 justify-around text-lg">
        <li>
            <a
                href="https://outlook.office365.com/owa/calendar/BOOKINGSOTSCCLT@tu.onmicrosoft.com/bookings//"
                >Request Consultation</a
            >
        </li>
        <li>
            <a href="https://techhelp.towson.edu/TDClient/1879/Portal/Home/"
                >Report a Problem</a
            >
        </li>
        <li>
            <a href="#">Admin Login</a>
        </li>
    </ul>
</nav>

<style>
    html{
        background-color: white
    }
</style>
