---
interface Props {
    building: string;
    collection_code: string;
}

import { build, type GetStaticPaths } from "astro";
// import { supabase } from "../supabase";
// const { data: Room} = await supabase
// 	.from("Rooms")
// 	.select('COLLECTION_CODE')

const { building, collection_code } = Astro.props;
console.log(building, collection_code)


// export const getStaticPaths = (() => {
//     return [{params: {collection_code: collection_code}}];
// }) satisfies GetStaticPaths;

---

<a href=`rooms/${collection_code}`> <h4>{collection_code}</h4></a>