---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
export const getStaticPaths = (() => {
    return [{params: {buildings: "Liberal Arts"}}];
}) satisfies GetStaticPaths;

const {buildings} = Astro.params;
---
<Layout title={buildings}>
    <h1>{buildings}</h1>
</Layout>