---

import { supabase } from "../../supabase";
import Layout from "../../layouts/Layout.astro";
export const getStaticPaths = (() => {
    return [{ params: { buildings: "Liberal Arts" } }];
});

const { buildings } = Astro.params;

let { data: Building, error } = await supabase
    .from("Building")
    .filter('BUILDING_CODE', 'in', '(YR, BU, AD)')

console.log(Building);
---

<Layout title={buildings}>
    <h1>{buildings}</h1>
    <ul>
        {Building?.map((building) => <li>{building.BUILDING_NAME}</li>)}
    </ul>
</Layout>
